---
import { Picture } from 'astro:assets';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
import { SiteTitle, SiteDescription } from '~/config';
import img from '~/assets/undraw_dog_c7i6.svg';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
		<div>
			<h1>Hello there! I am Polande 👋</h1>
			<p>
				写代码、做产品经理、探索商业市场。之前在Baidu, 现在某创业公司做"架构师"。
				业务方向一直是对话机器人层面在企业的落地。<br />
				常年混迹于北京, 偶尔会出差。

			</p>
			<ul class="list-disc">

				<li>
					用<b>Logseq</b>记录Journal, <b>Obsidian</b>输出沉淀笔记, <b>Flomo</b>记录日常。
				</li>
				<li>
					用Mac、HHKB写代码, 喜欢用Vim, 但不钟情于Vim。
				</li>
				<li>
					慢热型话痨选手, 无趣但是有想法的六边形战士。
				</li>
				<li>
					持续进步, 无限进步, 身体是革命的本钱。
			 </li>
			 <li>
					在做的事情：
						<ul>
							<li><a href="https://hcc1010.com">HCC1010 0.2版本, 最终目标反AIGC的内容/商业订阅(器)</a></li>
							<li><a href="https://github.com/health4work/health4work">health4work 程序员监控指南</li>
							<li>Find-Num 正在做的iOS小游戏</li>
						</ul>
			 </li>
			 <li>
				可以提供的帮助：
					<ul>
						<li>智能对话系统, 泛智能客服的业务和技术咨询</li>
						<li>关于创业浅显建议</li>
						<li>纯技术问题(Java/后端)</li>
						<li>装修指南(刚装修完)</li>
					</ul>
			</li>
				<li>
					近期的目标:
						<ul>
							<li>2024年副业收入达到1万块, 原先定的是100块, 进度-10000</li>
							<li>2024年阅读5本书, 进度10%</li>
							<li>体重减去15KG, 进度-2%</li>
						</ul>
				</li>
			</ul>
		</div>
	</div>
</MarkdownLayout>
